.series-container {
    min-height: 73vh;
    margin-top: 3rem;
}

.series-title{
    margin-top: 2rem;
    margin-left: 3rem;
    color: var(--title-color);
}

.series-card-container {
    margin: 1rem 3rem 4rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}