* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: var(--black-bg);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --black-bg: #141414;
  --primary-color: #f28627;
  --navbar-links: #e5e5e5;
  --title-color: #f2f2f2;
  --grey-color: #737174;
  --primary-hover: #df781d;
  --grey-fade: #73717486;
}
